body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.hidden {
  visibility: hidden;
}

button {
  width: 50%;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

textarea {
  height: 25vh;
}
