body {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.menu {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.good {
  color: green;
}
.danger {
  color: red;
}
