.toggled {
  font-style: italic;
  color: chartreuse;
}

header {
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(#f3740c, #f3cb49);
  height: 20rem;
  width: 40rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

a {
  cursor: pointer;
}

div {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  width: 100%;
}
